$color-uno: #211616;
$color-dos: #d4d4c6;
$color-tres: #161821;

$color-marcas: (
    aston: #99ff33,
    bugatti: #3dcbe9,
    ferrari: #cc0000,
    koenigsegg: #9b1829,
    lamborghini: #fedc00,
    mclaren: #e46400,
    pagani: #79013d,
    porsche: #03ac13,
    aston-clasico: #174502,
    bugatti-clasico: #0f353c,
    lamborghini-clasico: #c6ad09
);